<section class="jumbotron text-center mb-3">
  <div class="container">
    <h4>Upload your file here</h4>

    <div class="m-4">
      <form (submit)="uploadFile">
        <div class="form-group row justify-content-center">

          <div *ngIf="successMsg" class="alert alert-success col-sm-9" role="alert">
            {{ msg }}
          </div>
          <div *ngIf="errorMsg" class="alert alert-danger col-sm-9" role="alert">
            {{ msg }}
          </div>

          <div class="input-group mb-3 col-sm-9">
            <div *ngIf="uploadInProgress" class="spinner-border text-primary mr-4" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="input-group-prepend">
              <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
              <input #fileUploadInput type="file" name="upload" (change)="onFileSelect($event)" class="custom-file-input">
              <label #fileUploadLabel class="custom-file-label">Choose file...</label>
            </div>
            <div class="input-group-append">
              <button type="submit" class="btn btn btn-outline-danger">Submit</button>
            </div>
          </div>

        </div>
      </form>
    </div>

  </div>
</section>
